@{

}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<div class="container">
    <div class="mb-4 title">Adicionar Jogo</div>
    <div class="barra-superior"></div>

    <label class="label" style="top: 106px; left: 100px;">Nome</label>
    <input type="text" class="form-control input" style="top: 145px; left: 99px; width: 780px;">

    <label class="label" style="top: 106px; left: 951px;">Quantidade</label>
    <input type="number" class="form-control input" style="top: 145px; left: 945px; width: 358px;">

    <label class="label" style="top: 267px; left: 99px;">Fornecedor</label>
    <input type="text" class="form-control input" style="top: 306px; left: 99px; width: 780px;">

    <label class="label" style="top: 267px; left: 945px;">Ano de fabricação</label>
    <input type="number" class="form-control input" style="top: 306px; left: 945px; width: 358px;">

    <label class="label" style="top: 431px; left: 103px;">Material</label>
    <select name="MadeOf" class="form-control input font-form" style="top: 470px; left: 99px; width: 358px;">

    </select>

    <label class="label" style="top: 431px; left: 524px;">Categoria</label>
    <select name="Category" class="form-control input font-form" style="top: 470px; left: 521px; width: 358px;">

    </select>

    <label class="label" style="top: 431px; left: 949px;">Tipo</label>
    <select name="GameType" class="form-control input font-form" style="top: 470px; left: 943px; width: 358px;">
        <option selected>Escolha uma opção</option> 
        <option value="1">Tabuleiro</option>
        <option value="2">Carta</option>
    </select>

    <div class="label" style="top: 592px; left: 101px;">Observações</div>
    <textarea class="form-control textarea" style="top: 635px; left: 101px;" placeholder="Digite aqui..."></textarea>

    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn-enviar" style=": 791px; left: 886px;">ENVIAR</button>
        <button type="button" class="btn-sair" style="left: 1123px;">CANCELAR</button>
    </div>

</div>
