<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - En Passant</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar py-3 navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid">
            <div class="flex-row text-color-2 font-poppins font-bold">
                <img class="image-box" src="assets/chess/King.svg"/>
                Inventário de Jogos
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            </div>
            <div id="item-box-logo" class="flex-row align-items-end">
                <a class="navbar-brand text-color-1 font-cinzel font-regular" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="image-box" src="assets/chess/Pawn.svg"/>
                    EN PASSANT
                </a>
            </div>
        </div>
    </nav>
    <div class="separator-bar"></div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>